body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer,
.intro {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Headers */
.header {
  align-items: center;
  padding: 0 30px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.footer,
.header-links {
  color: #E5E7EB;
  font-size: 18px;
}

.header-links {
  display: flex;
}

ul {
  list-style-type: none;
  gap: 16px;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #E5E7EB;
}

/* Body */
/* .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.intro {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

.info {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  font-size: 36px;
  font-family: light italic;
  font-style: italic;
}