body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

/* hero */
.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.intro {
  width: 100%;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.container-hero,
.picture {
  height: 200px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-hero {
  align-items: flex-start;
}

.picture {
  align-items: flex-end;
}

.hero-maintext {
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 8px 30px;
  margin: 8px 0;
}

.image {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882F6;
  border-radius: 15px;
}

.box-text {
  text-align: center;
  max-width: 150px;
  padding-top: 8px;
}

/* quote */
.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 70px 0;
  justify-content: center;
  align-items: center;
}

.quote-body {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: 750px;
}

.author {
  font-weight: bold;
  font-size: 18px;
  padding-left: 400px;
}

/* modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  padding: 30px 50px;
  border-radius: 12px;
  width: 750px;
}

.left {
  color: white;
}

.modal-header {
  font-weight: bold;
}

button.sign-up {
  border: 2px solid white;
}