body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

/* hero */
.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.intro {
  width: 100%;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.container-hero,
.picture {
  height: 200px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-hero {
  align-items: flex-start;
}

.picture {
  align-items: flex-end;
}

.hero-maintext {
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  padding: 8px 24px;
  margin: 8px 0;
}

.image {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.box-text {
  text-align: center;
  max-width: 150px;
  padding-top: 8px;
}